<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <h1>Evaluate News NLP</h1>
        </header>
        <div id="formTitle">Please Enter URL Here</div>
        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter URL Here">
                    <input type="submit" id="btn-submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section id="resultSection">
                <strong>Form Results:</strong>
                <ul id="resultList">
                    
                </ul>
            </section>
        </main>

        <footer>
            <p id="footerP">Made with Love <i>&hearts;</i> By Me</p>
        </footer>

        <script>
            // This script is used to support offline functionality
            // Here it checks that service workers are supported
            if ('serviceWorker' in navigator) {
                // Also here Using of load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
