<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="src/client/styles/resets.scss">
        <link rel="stylesheet" href="src/client/styles/base.scss">
        <link rel="stylesheet" href="src/client/styles/header.scss">
        <link rel="stylesheet" href="src/client/styles/form.scss">
        <link rel="stylesheet" href="src/client/styles/footer.scss">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <h1>Evaluate News NLP</h1>
        </header>
        <div id="formTitle">Please Enter URL Here</div>
        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter URL Here">
                    <input type="submit" id="btn-submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section id="resultSection">
                <strong>Form Results:</strong>
                <ul id="resultList">
                    <li class="resultItems" id="results"></li>
                    <li class="resultItems" id="text"></li>
                    <li class="resultItems" id="agreement"></li>
                    <li class="resultItems" id="subjectivity"></li>
                    <li class="resultItems" id="confidence"></li>
                    <li class="resultItems" id="irony"></li>
                    <li class="resultItems" id="score_tag"></li>
                </ul>
            </section>
        </main>

        <footer>
            <p id="footerP">Made with Love <i>&hearts;</i> By Me</p>
        </footer>

    </body>
</html>
